<div *ngIf="schemas$ | async as schemas">
  <p>Click to expand elasticsearch index definitions:</p>
  <div *ngFor="let schema of schemas">
    <app-database-schema-snippet [schema]="schema"></app-database-schema-snippet>
  </div>
</div>
