@import "../../../scss/colors";
@import "../../../scss/sizes";

.filter-form {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  justify-items: stretch;
  align-items: stretch;
}

.scroll-wrapper {
  width: 100%;
  max-height: 75vh;
}

/* Fixed height to match material form fields..  */
.grid-button {
  height: $material-form-field-height;
}

.jobs-list div {
  margin: 10px 0;
}

/* Thanks to https://stackoverflow.com/questions/15811653/table-with-fixed-header-and-fixed-column-on-pure-css */

.mat-mdc-header-cell, .mat-mdc-cell {
  min-width: 18px;
  max-height: 4 * $table-rowheight;
  padding: 10px 2px;
  white-space: nowrap;
}

.write-vertical {
  writing-mode: vertical-rl;
  border-left: $table-border;
}

/* this would be for bottom to top writing in firefox, but in combination with the above for chrome it does not work.

@-moz-document url-prefix() {
  .commit-header {
    writing-mode: sideways-lr;
  }
}   */

.mat-mdc-cell {
  max-width: 64px;
  padding: 0px;
}

.text-cell {
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-mdc-cell > div {
  overflow: hidden;
}

.mdc-data-table__cell{
  border: 0px;
}

tr.testsuite-title-row:not(.example-expanded-row):hover {
  background: $color-background;
  cursor: pointer;
}

.testsuite-title-row {
  overflow: hidden;
  border-bottom: $table-border;
}

/* This is important - applied only for collapsed rows */
.testcase-detail-row {
  height: 0px;
  border: 0px;
}

.testcase-element-detail {
  overflow: hidden;
}

.testcase-element-detail:hover {
  border-right: $table-border-wide;
}

.table-cell-box {
  border-left: $table-border;
  border-right: $table-border;
}

.expanded-contents {
  font-size: 16px;
  height: $table-rowheight;
  overflow: ellipsis;
  display: flex;
  align-items: center;
  border-bottom: $table-border;
}

.content-center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content-left {
  justify-content: start;
  text-align: left;
}

.column-testcase-width {
  min-width: $column-testcase-width;
}

.column-assignment-width {
  min-width: $column-assignment-width;
}

.column-comment-width {
  min-width: $column-comment-width;
}

