<!-- TODO: Add comment to filter [commentFilter]="filter.comment" -->
<ng-container *ngIf="filter$ | async as filter">
  <app-testcase-history-filter
    [queryFilter]="filter.filter"
    [branchFilter]="filter.branch"
    [assignmentFilter]="filter.assignment"
    [numberOfCommits]="filter.numberOfCommits"

    [branchList]="(branchList$ | async) || []"
    [assignmentList]="(assignmentList$ | async) || []"
    (filterEvent)="onFilter($event)">
  </app-testcase-history-filter>
</ng-container>

<app-testcase-history-legend></app-testcase-history-legend>

<div class="scroll-wrapper">
  <mat-spinner *ngIf="loadingService.isLoading$ | async" [diameter]="60"></mat-spinner>
  <ng-container *ngIf="tableData$ | async as data">
    <table *ngIf="(loadingService.isLoading$ | async) === false" mat-table [dataSource]="data.testSuites" multiTemplateDataRows>
      <tr mat-header-row
        *matHeaderRowDef="data.displayedColumns; sticky: true">
      </tr>

      <tr mat-row
      *matRowDef="let row; columns: ['testsuite']"
        class="testsuite-title-row"
        [class.testsuite-title-row]="row.isExanded"
        (click)="row.isExpanded = !row.isExpanded">
      </tr>

      <ng-container matColumnDef="testsuite">
        <td mat-cell
          *matCellDef="let row"
          class="cell-padding testsuite-row"
          [attr.colspan]="100">
          {{ row.key }}
        </td>
      </ng-container>

      <tr mat-row
        *matRowDef="let row; columns: data.displayedColumns" class="testcase-detail-row" sticky>
      </tr>

      <ng-container matColumnDef="testcase" sticky>
        <th mat-header-cell
          *matHeaderCellDef
          class="test-case-row text-cell">
          Test Case
        </th>
        <td mat-cell
          *matCellDef="let row"
          class="column-testcase-width">
            <div class="testcase-element-detail"
              [@detailExpand]="row.isExpanded ? 'expanded' : 'collapsed'">
              <div *ngFor="let testcase of row.testCase"
                matTooltip="{{ testcase.name }}"
                class="expanded-contents expanded-contents-first text-cell {{ row.key }}">
                {{ testcase.name }}
              </div>
            </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="health">
        <th mat-header-cell
          *matHeaderCellDef>
          Health
        </th>
        <td mat-cell
          *matCellDef="let row"
          class="">
          <div class="testcase-element-detail"
            [@detailExpand]="row.isExpanded ? 'expanded' : 'collapsed'">
            <div *ngFor="let testcase of row.testCase"
              class="health box {{ testcase.health }} expanded-contents content-center">
              {{ getSymbol(testcase.health) }}
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="comment">
        <th mat-header-cell
          *matHeaderCellDef
          class="text-cell">
          Comment
        </th>
        <td mat-cell
        *matCellDef="let row"
        class="column-comment-width cell-padding">
        <div class="testcase-element-detail" [@detailExpand]="row.isExpanded ? 'expanded' : 'collapsed'">
          <div *ngFor="let testcase of row.testCase" 
          matTooltip="{{ testcase.comment ? testcase.comment.comment : '' }}"
          class="expanded-contents text-cell">
                <app-testcase-history-comment
                  [comment]="testcase.comment ? testcase.comment : {testcase: testcase.name, testsuite: row.key, id: '', comment: ''}"
                  (commentUpdated)="onSaveComment($event)">
                ></app-testcase-history-comment>
              </div>
            </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="assignment">
        <th mat-header-cell
          *matHeaderCellDef
          class="text-cell">
          Assignment
        </th>
        <td mat-cell
            *matCellDef="let row"
            class="column-assignment-width cell-padding">
            <div class="testcase-element-detail" [@detailExpand]="row.isExpanded ? 'expanded' : 'collapsed'">
              <div *ngFor="let testcase of row.testCase"
              matTooltip="{{ testcase.assignment ? testcase.assignment.assignment : ''}}"
              class="expanded-contents text-cell">
                <app-testcase-history-assignment
                  [assignment]="testcase.assignment ? testcase.assignment : {testcase: testcase.name, testsuite: row.key, id: '', assignment: ''}"
                  (assignmentUpdated)="onSaveAssignment($event)">
                </app-testcase-history-assignment>
              </div>
            </div>
        </td>
      </ng-container>

      <ng-container *ngFor="let commit of data.commits">
        <ng-container matColumnDef="commit-{{ commit['commit-hash'] }}-{{ commit.repository}}">
          <th class="write-vertical"
            mat-header-cell
            *matHeaderCellDef
            matTooltip="{{ buildCommitTooltipText(commit) }}">
            <ng-container *ngIf="commit['commit-message'] === undefined || commit['commit-message'] === ''"; else commitMessage>
              {{ commit['commit-hash'] }}
            </ng-container>
            <ng-container #commitMessage>{{ commit['commit-message'] }}</ng-container>
            <span class="hint">
              {{commit.repository}}
            </span>
          </th>

          <td mat-cell
            *matCellDef="let row"
            class="table-cell-box">
            <div class="testcase-element-detail"
              [@detailExpand]="row.isExpanded ? 'expanded' : 'collapsed'">
              <div *ngFor="let testcase of row.testCase">
                <div class="expanded-contents content-center">
                  <ng-container *ngIf="getResultForCommit(testcase, commit['commit-hash']) as hits">
                    <div class="box {{ hits[0]._source.result }}"
                      (click)="onResultClick(hits)"
                      matTooltip="{{ buildTooltipText(hits) }}">
                      <p>
                        {{ getSymbol(hits[0]._source.result || '') }}
                        <ng-container *ngIf="!isAllGreen(hits) && hits.length > 1">
                          <br />
                          {{ hits.length }}
                        </ng-container>
                      </p>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </td>

        </ng-container>
      </ng-container>
    </table>
  </ng-container>
</div>
