@import "../scss/colors";
@import "../scss/sizes";


.container {
    display: grid;
    position: absolute;
    width: 100vw;
    height: 100vh;

    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;

    grid-template-areas:
        "header nav"
        "main main"
        "footer footer";
}

nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    background-color: $color-background;
    padding: $default-padding;
}

header {
    grid-area: header;
    padding: 0 20px;
    background-color: $color-background;
}

footer {
    grid-area: footer;
    background-color: $color-background;
    padding: $default-padding;
}

.content {
    grid-area: main;
    padding: $default-padding; 
}

::ng-deep .info-message {
  background-color: $color-info-message;
  padding: $default-padding;
}

::ng-deep mat-spinner {
  margin: 0 auto;
  padding: 100px 0;
  max-width: $spinner-dimension;
  max-height: $spinner-dimension;
}

::ng-deep .scroll-wrapper {
  overflow: auto;
}

::ng-deep table {
  border-collapse: collapse;
}

::ng-deep .error {
  background-color: $color-error;
  border-color: $color-error;
}

::ng-deep .failure {
  background-color: $color-failure;
  border-color: $color-failure;
}

::ng-deep .success {
  background-color: $color-success;
  border-color: $color-success;
}

::ng-deep .ignored {
  background-color:$color-ignored;
  border-color: $color-ignored;
}

::ng-deep .inconclusive {
  background-color: $color-inconclusive;
  border-color: $color-inconclusive;
}

::ng-deep .investigate {
  background: $color-success;
  background: linear-gradient(90deg, $color-success, $color-error);
}

::ng-deep .align-center {
  display: flex;
  align-items: center;  
  text-align: center;
}

::ng-deep .grid-span-1 {
  grid-column: span 1;
}

::ng-deep .grid-span-2 {
  grid-column: span 2;
}

::ng-deep .grid-span-3 {
  grid-column: span 3;
}

::ng-deep .grid-span-4 {
  grid-column: span 4;
}

::ng-deep .mat-mdc-outlined-button.mat-mdc-button-base,
::ng-deep .mat-mdc-raised-button.mat-mdc-button-base {
  height: $button-height;
}

::ng-deep .button-edit {
  color: $color-list-buttons !important;
}

::ng-deep .button-save {
  color: $color-list-buttons !important;
}

::ng-deep .button-cancel {
  color: $color-list-buttons !important;
} 
