<div class="container">
  <header>
    <h1>{{ pageTitle }} - Sonova Test Result Viewer</h1>
  </header>
  <nav>
    <app-navigation></app-navigation>
  </nav>
  <section class="content">
    <router-outlet (activate)="setTitle()"></router-outlet>
  </section>

  <footer>Some Copyright Infos</footer>
</div>
