<div class="column">
  <h2>Failed Tests</h2>
  <div *ngFor="let testcase of failedRuns">
    <h3>{{ testcase.key }}</h3>
    <div class="reg-box {{run.result?.toLowerCase()}}" *ngFor="let run of testcase.runs">
      <p>
        {{ run.result }} on {{ run['start-time'] }}
      </p>
      <p>
        includes commits
      </p>
      <p *ngFor="let vcs of run['version-control-system-info']; let i = index">
        '{{ vcs['commit-hash'].substring(0,10) }}' on {{ vcs['commit-time'] }}, branch {{ vcs.branch }} for repo {{ vcs.repository}}
      </p>
    </div>
  </div>
</div>

