<ng-container *ngIf="testcaseNames$ | async as testcaseNames; else waiting">
  <div class="scroll-wrapper">
    <table mat-table [dataSource]="testcaseNames">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Test Cases</th>
        <td mat-cell *matCellDef="let row">{{row}}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['name']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name']" class="data-row"></tr>
    </table>

  </div>
</ng-container>
<ng-template #waiting>
  <mat-spinner [diameter]="60"></mat-spinner>
</ng-template>