<button mat-icon-button [matMenuTriggerFor]="appMenu">
  <mat-icon class="menu-icon">menu</mat-icon>
</button>

<mat-menu #appMenu="matMenu">
  <button routerLink="/{{page}}" routerLinkActive="active" ariaCurrentWhenActive="page" *ngFor="let page of pages" mat-menu-item>{{ toTitleCase(page) }}</button>
</mat-menu>
