<form class="filter-form" [formGroup]="filterForm">
  <mat-form-field class="grid-span-4">
    <mat-label>
      Filter Query
    </mat-label>
    <input matInput  formControlName="queryFilter" />
    <mat-hint align="start">
      <a target="_blank"
        href="https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html#query-string-syntax">
        Query string syntax
        <fa-icon [icon]="faShareFromSquare"></fa-icon>
      </a>
      
      <a target="_blank"
        href="/database-schema">
        Database Schema
        <fa-icon [icon]="faShareFromSquare"></fa-icon>
      </a>
    </mat-hint>
  </mat-form-field>

  <button mat-raised-button class="" type="submit" color="primary" (click)="onFilter()">
    Apply
  </button>

  <div class="grid-filler"></div>

  <div class="align-center">Select timespan:</div>

  <button mat-stroked-button class="" type="submit" (click)="lastTwentyFourHours()">
    24 Hours
  </button>

  <button mat-stroked-button type="submit" (click)="lastSevenDays()">
    7 Days
  </button>

  <button mat-stroked-button color="warn" type="submit" (click)="clearQuery()">
    Clear Query
  </button>
</form>


