<form class="filter-form" [formGroup]="filterForm">
  <mat-form-field>
    <mat-label>
      Filter Query
    </mat-label>
    <input matInput placeholder="Filter String" formControlName="queryFilter" />
    <mat-hint align="start">
      <a target="_blank"
        href="https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html#query-string-syntax">
        Query string syntax
        <fa-icon [icon]="faShareFromSquare"></fa-icon>
      </a>

      <a target="_blank"
        href="/database-schema">
        Database Schema
        <fa-icon [icon]="faShareFromSquare"></fa-icon>
      </a>

    </mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>
      Search by Comment
    </mat-label>
    <input matInput placeholder="Comment" formControlName="commentFilter" />
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Branch" formControlName="branchFilter">
      <mat-option [value]="">
        - clear -
      </mat-option>
      <mat-option *ngFor="let value of branchList" [value]="value">
        {{ value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Assignment" formControlName="assignmentFilter">
      <mat-option [value]="">
        - clear -
      </mat-option>
      <mat-option *ngFor="let value of assignmentList" [value]="value">
        {{ value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>
      # of Commits
    </mat-label>
    <input matInput type="number" placeholder="# of Commits" formControlName="numberOfCommits">
  </mat-form-field>

  <button mat-raised-button class="grid-button" type="submit" color="primary" (click)="onFilter()">
    Apply
  </button>

  <div class="grid-span-2"></div>
  <div class="align-center">Select Timespan:</div>

  <button mat-stroked-button class="grid-button" type="submit" (click)="lastTwentyFourHours()">
    24 Hours
  </button>

  <button mat-stroked-button class="grid-button" type="submit" (click)="lastSevenDays()">
    7 Days
  </button>

  <button mat-stroked-button color="warn" class="grid-button" type="submit" (click)="clearQuery()">
    Clear Query
  </button>
</form>




