<div class="assignment-template" (click)="editAssignment()">
  <div class="{{assignment.assignment ? 'black' : 'grey' }}">
    {{ assignment.assignment ? assignment.assignment : 'click to add...' }}
  </div>
</div>
