@import '../../../../scss/sizes';

.wrapper {
  padding: $default-padding;
  display: flex;
  flex-direction: column;
}

.result-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: $default-padding;
}

button {
  margin: 10px 0 10px 0;
}