.label-form {
  max-width: 500px;
  margin-bottom: 8px;
}

.label-form-full-width {
  width: 100%;
}

.label-form-half-width {
  width: 50%;
}

/* mat-form-field { */
/*   margin-right: 8px; */
/* } */

/* .label-form mat-form-field + button { */
/*   margin-right: 8px; */
/* } */
