<h4>Label Editing</h4>
<form class="label-form" [formGroup]="labelForm">
  <mat-form-field class="label-form-full-width" appearance="fill">
    <mat-label>Document ID</mat-label>
    <input matInput formControlName="id" readonly />
  </mat-form-field>

  <mat-form-field class="label-form-half-width" appearance="fill">
    <mat-label>Key</mat-label>
    <input matInput formControlName="key" />
  </mat-form-field>

  <mat-form-field class="label-form-half-width" appearance="fill">
    <mat-label>Value</mat-label>
    <input matInput formControlName="value" />
  </mat-form-field>

  <button mat-raised-button class="label-form-full-width" *ngIf="!isEditMode" color="primary" (click)="addLabel($event)"
    id="add-label-button">
    Add
  </button>
  <button mat-raised-button class="label-form-half-width" *ngIf="isEditMode" color="warn" (click)="deleteLabel($event)"
    id="delete-label-button">
    Delete
  </button>
  <button mat-raised-button class="label-form-half-width" *ngIf="isEditMode" color="primary"
    (click)="updateLabel($event)" id="save-label-button">
    Save
  </button>
</form>