<ng-container *ngIf="filter$ | async as filter">
  <app-test-environment-filter
    [queryFilter]="filter.filter"
    (filterEvent)="onFilter($event)">
  </app-test-environment-filter>
</ng-container>

<mat-spinner *ngIf="loadingService.isLoading$ | async" [diameter]="60"></mat-spinner>
<ng-container *ngIf="tableConfiguration$ | async as tableConfiguration">
  <app-test-environment-table
    *ngIf="(loadingService.isLoading$ | async) === false"
    [tableConfiguration]="tableConfiguration"
    (resultClickEvent)="onResultClicked($event)">
  </app-test-environment-table>
</ng-container>
