<div class="wrapper">
  <form class="assignment-form" [formGroup]="assignmentForm">
    <mat-form-field>
      <mat-label>Assignment</mat-label>
      <input
        #inputAssignment
        matInput
        type="text"
        formControlName="assignment"
      />
    </mat-form-field>
    <button mat-icon-button class="button-save" (click)="onSave()">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button class="button-cancel" (click)="onCancel()">
      <mat-icon>cancel</mat-icon>
    </button>
  </form>
</div>
