<div class="wrapper">
  <mat-expansion-panel
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false"  
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ schema.index }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <pre>{{ schema.fields | json}}</pre>
  </mat-expansion-panel>
</div>

