@import '../../../../scss/colors';

:host {
  width: 100%;
}

.comment-template {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.grey {
  color: $color-list-buttons;;
}