  <div class="comment-template" (click)="editComment()">
    <div class="{{comment.comment ? 'black' : 'grey' }}">
      {{ comment.comment ? comment.comment : 'click to add...' }}
    </div>
  </div>

