<ng-container *ngIf="lastRun$ | async as lastRun">
  <div class="grid-container">
    <app-dashboard-card title="Date / Time" [content]="lastRun.date | date:'yyyy-MM-dd HH:mm:ss'"></app-dashboard-card>
    <app-dashboard-card title="Successful tests" [content]="lastRun.success || 0"></app-dashboard-card>
    <app-dashboard-card title="Failed tests" [content]="lastRun.failure || 0"></app-dashboard-card>
    <app-dashboard-card title="Error tests" [content]="lastRun.error || 0"></app-dashboard-card>
    <app-dashboard-card title="Inconclusive tests" [content]="lastRun.inconclusive || 0"></app-dashboard-card>
    <app-dashboard-card title="Ignored tests" [content]="lastRun.ignored || 0"></app-dashboard-card>
  </div>

  <div class="grid-charts">
    <app-dashboard-chart [data]="(errors$ | async) ?? {labels: [], datasets: []}" [chartOptions]="chartOptions" [chartLegend]="chartLegend"></app-dashboard-chart>
  </div>
</ng-container>