.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    column-gap: 10px;
    justify-content: left;
}

.grid-charts {
  margin-top: 50px;
  display: grid;
  max-width: 100vw;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}