$first-color: #233142;
$second-color: #455d7a;
$third-color: #f95959;
$fourth-color: #e3e3e3;

$color-link: #144272;
$color-link-secondary: #2C74B3;

$color-background: whitesmoke;
$color-info-message: #f7e3a6;

$color-success: #59f959;
$color-inconclusive: #5959f9;
$color-failure: #f3cd5b;
$color-ignored: #b3b3b3;
$color-error: #ff8686;

$color-list-buttons: #afafaf;