$button-height: 56px;
$spinner-dimension: 50px;
$default-padding: 20px;

$table-rowheight: 48px;
$material-form-field-height: 56px;

$table-border: 1px solid lightgrey;
$table-border-wide: 2px solid lightgrey;

$column-testcase-width: 300px;
$column-comment-width: 150px;
$column-assignment-width: 150px;
