@import "../../../../scss/colors";
@import "../../../../scss/sizes";

.wrapper {
  height: 78vh;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

.box {
  height: 51px;
}

.mat-mdc-header-cell, .mat-mdc-cell {
  border: 1px solid #CCC;
  text-align: center;
  min-width: 18px;
  padding: 0px;
}

.mat-mdc-table-sticky-border-elem-left {
  border-left: 1px solid #e0e0e0;
}

.mat-mdc-cell {
  max-width: 128px;
}

.table-cell-box {
  padding: 0px;
}

.cell-padding {
  padding: 5px;
}

.mat-mdc-cell > div {
  overflow: hidden;
  // max-height: 36px;
}

.mat-mdc-row {
  line-height: 75px;
}