<table mat-table [dataSource]="tableConfiguration?.data?.dataSource || []">
  <ng-container matColumnDef="testsuite">
    <th mat-header-cell *matHeaderCellDef class="cell-padding">Test Suite</th>
    <td mat-cell *matCellDef="let row" class="cell-padding">
      {{ row.testsuite }}
    </td>
  </ng-container>

  <ng-container matColumnDef="testcase">
    <th mat-header-cell *matHeaderCellDef class="cell-padding">Test Case</th>
    <td mat-cell *matCellDef="let row" class="cell-padding">
      <div>{{ row.testcase }}</div>
    </td>
  </ng-container>

  <ng-container
    matColumnDef="{{ item.columnDef }}"
    *ngFor="let item of tableConfiguration?.columns">
    <th mat-header-cell *matHeaderCellDef class="cell-padding">
      {{ item.header }}
    </th>
    <td
      mat-cell
      *matCellDef="let row"
      class="table-cell-box"
      matTooltip="{{ buildTooltipText(row.results[item.columnDef]) }}">
      <div
        *ngIf="getOverallResult(row.results[item.columnDef]) as result"
        class="box {{ result }}"
        (click)="onResultClick(row.results[item.columnDef])">
        {{ getSymbol(result) }}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="header-row-first-group">
    <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"></th>
  </ng-container>

  <ng-container *ngFor="let date of tableConfiguration?.data?.dates">
    <ng-container matColumnDef="header-row-{{ date }}-group">
      <th
        mat-header-cell
        *matHeaderCellDef
        [attr.colspan]="tableConfiguration?.data?.devicesByDate?.get(date)?.size">
        {{ date | date : 'yyyy-MM-dd HH:mm' }}
      </th>
    </ng-container>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="tableConfiguration?.headerGroups; sticky: true">
  </tr>
  <tr
    mat-header-row
    *matHeaderRowDef="tableConfiguration?.displayedColumns; sticky: true">
  </tr>
  <tr
    mat-row
    *matRowDef="let row; columns: tableConfiguration?.displayedColumns">
  </tr>
</table>
