<div class="wrapper">
  Result List:

  <div class="result-wrapper">
    <button *ngFor="let result of resultHits" mat-raised-button (click)="navigateTo(result._id)">
      <span class="bold">
        {{ result._source['start-time'] | date : 'yyyy-MM-dd HH:mm' }}
      </span>
      : {{ result._source.result }}
    </button>
  </div>

  <button mat-stroked-button color="warn" (click)="closeDialog()">Close</button>

</div>
