<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>
      {{ title }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{ content }}
  </mat-card-content>
</mat-card>