<div class="info-message">
  This page is unfinished. In its current state, this page displays test cases that:
<ul>
  <li>have a most recent result of "Failure"</li>
  <li>that has occured in the last X days</li>
</ul>
including the recent failure result along with 3 more results before that.
</div>

<ng-container *ngIf="failedRuns$ | async as failed; else waiting">
  <ng-container *ngIf="failed"; else empty>
      <app-regression-results [results]="failed" >
  </app-regression-results>
  </ng-container>

  <ng-container #empty>
    <p>No results found.</p>
  </ng-container>
</ng-container>

<ng-template #waiting>
<mat-spinner [diameter]="60"></mat-spinner>
</ng-template>