<ng-container *ngIf="document$ | async as document else waiting">
  <ng-container *ngIf="document._source.testcase; else noDocument">
    <h2>{{ document._source.testcase }} on {{ document._source['start-time'] | date : 'yyyy-MM-dd HH:mm' }}</h2>

    <p>{{ document._source.description }}</p>
    <button mat-raised-button (click)="addLabel()" id="show-label-form-button">
      Add/Update Labels
    </button>

    <div class="{{showLabelForm ? '' : 'hidden'}}">
      <app-testresult-detail-label-form 
      [documentId]="document._id"
      (updateLabelEvent)="updateLabel($event)"></app-testresult-detail-label-form>
    </div>

    <app-testresult-detail-table
      [testresult]="document._source"
      (clickEvent)="editLabel($event)">
    </app-testresult-detail-table>

  </ng-container>
</ng-container>

<ng-template #waiting>
  <mat-spinner [diameter]="60"></mat-spinner>
</ng-template>

<ng-template #noDocument>
  <mat-card class="card-error">
    <mat-card-header>
      <mat-card-title>Error - Document not found</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Testresult with ID
      <!-- <span class="document-id">{{ id || '(no id provided)' }}</span> -->
      does not exists
    </mat-card-content>
  </mat-card>

</ng-template>