/* You can add global styles to this file, and also import other style files */
@import './scss/colors';
@import './scss/sizes';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a, a:hover, a:visited {
    text-decoration: none;
}

a {
    color: $color-link;
}

a:hover {
    color: $color-link-secondary;
    text-shadow: 1px;
}

cdk-overlay-container, .cdk-global-overlay-wrapper {
  white-space: pre-line;
}

.mat-mdc-cell {
  padding: 0px;
}

.box {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box:hover {
  cursor: pointer;
}

.box:not(.health):hover {
  opacity: 0.7;
}