<div class="wrapper">
  <form class="comment-form" [formGroup]="commentForm">
    <mat-form-field>
      <mat-label>Comment</mat-label>
      <input
        #inputcomment
        matInput
        type="text"
        formControlName="comment"
      />
    </mat-form-field>
    <button mat-icon-button class="button-save" (click)="onSave()">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button class="button-cancel" (click)="onCancel()">
      <mat-icon>cancel</mat-icon>
    </button>
  </form>
</div>
