<aside>
  <div class="legend">
    <p><span class="success">{{ getSymbol('success') }}</span> Success</p>
    <p><span class="failure">{{ getSymbol('failure') }}</span> Failure</p>
    <p><span class="ignored">{{ getSymbol('ignored') }}</span> Ignored</p>
    <p><span class="inconclusive">{{ getSymbol('inconclusive') }}</span> Inconclusive</p>
    <p><span class="error">{{ getSymbol('error') }}</span> Error</p>
  </div>
</aside>