aside {
  padding: 5px 0;
}

/* Thanks to https://stackoverflow.com/questions/7878076/css-to-lay-out-keys-values-legend-horizontally */
.legend {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
}

.legend span {
  border: 1px solid #ccc;
  border-radius: 4px;
  float: left;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  margin-top: -2px;
  text-align: center;
}

p {
  padding: 0;
  margin: 0;
}
