td:nth-child(1) {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
}

td {
  border-bottom: 1px solid lightgrey;
  padding: 15px;
}

.label-cell {
  /* padding: 0px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label-value{
  display: inline;
  /* margin-left: 15px; */
}
