<table>
  <tr>
    <td>Testsuite:</td>
    <td>{{ testresult.testsuite }}</td>
  </tr>
  <tr>
    <td>Executed:</td>
    <td>{{ testresult.executed }}</td>
  </tr>

  <tr>
    <td>Result:</td>
    <td>{{ testresult.result }}</td>
  </tr>

  <tr>
    <td>Time:</td>
    <td>{{ testresult.time }}</td>
  </tr>

  <tr>
    <td>Asserts:</td>
    <td>{{ testresult.asserts }}</td>
  </tr>

  <tr>
    <td>Categories:</td>
    <td>{{ testresult.categories?.join(', ') }}</td>
  </tr>
  <tr>
    <td>Link to CI Job:</td>
    <td><a href="#???">???</a></td>
  </tr>
  <tr>
    <td>Job Trigger Event:</td>
    <td>???</td>
  </tr>
  <tr>
    <td>Estimated remaining time:</td>
    <td>???</td>
  </tr>
  <tr>
    <td>Test Config:</td>
    <td>zzz</td>
  </tr>
  <tr>
    <td>Build Config:</td>
    <td>zzz</td>
  </tr>
  <tr>
    <td>End datetime:</td>
    <td>xxx</td>
  </tr>
  <tr>
    <td>
      Build:
      <br />
      >> Brand <br />
      >> Identifier<br />
      >> Number<br />
      >> Project<br />
      >> Trigger<br />
      >> URL
    </td>
    <td>
      <br />
      {{ testresult.build?.brand }} <br />
      {{ testresult.build?.identifier }} <br />
      {{ testresult.build?.number }}<br />
      {{ testresult.build?.project }}<br />
      {{ testresult.build?.trigger }}<br />
      <a href="{{ testresult.build?.url }}" target="_blank"> {{ testresult.build?.url }}</a>
    </td>
  </tr>
  <tr>
    <td>
      VCS-Info:<br />
      >> Branch:<br />
      >> Commit-Hash:<br />
      >> Commit-Message:<br />
      >> Commit-Author:<br />
      >> Commit-Time:<br />
      >> Repository:<br />
      >> Type:
    </td>
    <td>
      <br />
      {{ testresult['version-control-system-info']?.[0]?.branch }}<br />
      {{ testresult['version-control-system-info']?.[0]?.['commit-hash'] }}<br />
      {{ testresult['version-control-system-info']?.[0]?.['commit-message']}}<br />
      {{ testresult['version-control-system-info']?.[0]?.['commit-author']}}<br />
      {{ testresult['version-control-system-info']?.[0]?.['commit-time'] }}<br />
      {{ testresult['version-control-system-info']?.[0]?.repository }}<br />
      {{ testresult['version-control-system-info']?.[0]?.type }}
    </td>
  </tr>
  <tr>
    <td>
      Test-Environment:<br />
      >> Name:<br />
      >> Capabilities:<br />
    </td>
    <td>
      <br />
      {{ testresult['test-environment']?.name }}<br />
      {{ testresult['test-environment']?.capabilities?.join(', ') }}
    </td>
  </tr>

  <tr>
    <td>
      Environment:<br />
      >> Framework: <br />
      >> Framework-Version: <br />
      >> CLR-Version: <br />
      >> OS-Version: <br />
      >> Platform: <br />
      >> CWD: <br />
      >> Machine-Name: <br />
      >> User: <br />
      >> User-Domain:
    </td>
    <td>
      <br />
      {{ testresult['environment']?.framework }}<br />
      {{ testresult['environment']?.['framework-version'] }}<br />
      {{ testresult['environment']?.['clr-version'] }}<br />
      {{ testresult['environment']?.['os-version'] }}<br />
      {{ testresult['environment']?.platform }}<br />
      {{ testresult['environment']?.cwd }}<br />
      {{ testresult['environment']?.['machine-name'] }}<br />
      {{ testresult['environment']?.user }}<br />
      {{ testresult['environment']?.['user-domain'] }}
    </td>
  </tr>

  <tr>
    <td>
      Culture-Info:<br />
      >> current-culture: <br />
      >> current-uiculture:
    </td>
    <td>
      <br />
      {{ testresult['culture-info']?.['current-culture'] }}<br />
      {{ testresult['culture-info']?.['current-uiculture'] }}
    </td>
  </tr>


  <tr>
    <td>
      Properties:<br />
      <ng-container *ngFor="let property of testresult.properties">
        >>> {{ property.name }}:<br />
      </ng-container>
    </td>
    <td>
      <br />
      <ng-container *ngFor="let property of testresult.properties">
        {{ property.value }}<br />
      </ng-container>
    </td>
  </tr>

  <tr>
    <td>Reason:</td>
    <td>{{ testresult.reason }}</td>
  </tr>

  <ng-container *ngIf="testresult.failure as failure">
    <tr>
      <td>
        Failure:<br />
        >> Message:<br />
        >> Stacktrace:
      </td>
      <td>
        <br />
        {{ failure.message }}<br />
        {{ failure.stacktrace }}
      </td>
    </tr>
  </ng-container>

  <tr>
    <td>Labels:</td>
    <td></td>
  </tr>
  <ng-container *ngFor="let label of testresult.labels; index as i">
    <tr>
      <td>{{ label.key }}:</td>
      <td class="label-cell">
        <p class="label-value">{{ label.value }}</p>
        <button mat-raised-button name="{{ label.key }}" value=""
          (click)="onClick(label.key, label.value)">Edit</button>
      </td>
    </tr>
  </ng-container>
</table>